input:required:invalid {
		border-color: #f14668;
	}

	input:required:valid {
		border-color: #23d160;
	}

	.section {
		max-width: 900px;
		margin: auto;
	}
	input, button {
		margin-top: 10px;
	}
	.ActionBox {
		display: flex;
		flex-direction: column;
		margin: auto;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	
	.title-container {
		display: flex;
		justify-content: space-between;
		align-items:first baseline; /* to align items vertically centered */
	}